{{#my-modal title='Settings' ok='save' close='removeModal'}}
    <form {{action 'ok' on='submit' target=view}} class="form-horizontal">
	    <div class="form-group">
		    <label class="col-sm-2 control-label">Application:</label>
		    <label class="col-sm-2 control-label">{{model.applicationType}}</label>
			<label class="col-sm-2 control-label">IP Address:</label>
		    <label class="col-sm-2 control-label">{{model.ipAddress}}</label>
		</div>
		<div class="form-group">
		    <label class="col-sm-2 control-label">Version:</label>
		    <label class="col-sm-2 control-label">{{model.applicatonVersion}}</label>
			<label class="col-sm-2 control-label">Memory:</label>
		    <label class="col-sm-2 control-label">{{model.memory}}</label>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Jave Version:</label>
			<label class="col-sm-2 control-label">{{model.javaVersion}}</label>
		</div>	
        <div class="form-group">
	        <label class="col-sm-3 control-label">CPU usage in an hour:</label>
			<div class="row">
				{{ember-chart type='Line' data=model.cpuCharData width=450 height=200 legend=true}}
			</div>
        </div>
		<div class="form-group">
	        <label class="col-sm-3 control-label">Memory usage in an hour:</label>
			<div class="row">
				{{ember-chart type='Line' data=model.memCharData width=450 height=200 legend=true}}
			</div>
        </div>
		
    </form>
{{/my-modal}}