<div class="row">
	<div class="col-md-9">
	<nav class="pull-right">
	  <ul class="pagination">
	    <li>
	      <a>
			{{#if hasPreviousPage}}
	        	<span{{action "updatePageIndex" previousPageIndex}}>&laquo;</span>
			{{else}}
				<span>&laquo;</span>
			{{/if}}
	      </a>
	    </li>
		{{#each indexObject in indexArray }}
			{{#if indexObject.isCurrent}}
				<li class="active"><a><span {{ action "updatePageIndex" indexObject.index}}>{{indexObject.index}}</span></a></li>
			{{else}}
				<li><a><span {{ action "updatePageIndex" indexObject.index}}>{{indexObject.index}}</span></a></li>
			{{/if}}
		{{else}}
		{{/each}}
	    <li>
	      <a>
			{{#if hasNextPage}}
	        	<span {{action "updatePageIndex" nextPageIndex}}>&raquo;</span>
			{{else}}
				<span>&raquo;</span>
			{{/if}}
	      </a>
	    </li>
	  </ul>
	</nav>
	</div>
</div>